body {
    background-image: url("https://www.capetownmagazine.com/media_lib/preview/7dbf61d880329b5397008f9e29963a60.preview.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.body {
    background-color: aqua;
}